@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
  width: 100%;
}

[data-overlay-container] {
  height: 100%;
  width: 100%;
}

.progress .ant-progress-text {
  color: white;
}


body {
  height: 100%;
  width: 100%;
}
